requests
beautifulsoup4
duckduckgo-search==3.9.9
trafilatura
lxml_html_clean
readability-lxml
httpx
httpcore
typing-extensions
h11
sniffio
anyio
distro
htmldate
justext
Flask
kivy>=2.2.0
kivymd>=1.1.1
openai>=1.0.0
python-dotenv
